<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjtUFZwzuz9F0H4_F8yvW-nfapE5dXFqA</string>
	<key>GCM_SENDER_ID</key>
	<string>71292641552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookMyClinic.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bookmyclinic-5f034</string>
	<key>STORAGE_BUCKET</key>
	<string>bookmyclinic-5f034.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71292641552:ios:cbba5922e2d27c22c40595</string>
</dict>
</plist>